In [3]:
import pandas as pd

df = pd.DataFrame({"A": [1,2,4,1,2],
                   "B": [4,5,6,7,8],
                   "C": [0,0,0,0,0],
                   "D": [1,1,1,1,1]})

In [4]:
df.head()

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1

## Variance Threshold
- Feature selector that removes at low variance feature
- This method check only for feature (X), not Output feature (Y) and thus can be used for unsupervised learning

In [5]:
from sklearn.feature_selection import VarianceThreshold

var_thres = VarianceThreshold(threshold=0)
var_thres.fit(df)

VarianceThreshold(threshold=0)

In [6]:
var_thres.get_support()

array([ True,  True, False, False])

In [7]:
df.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

In [11]:
const_column = [colum for colum in df.columns if colum not in df.columns[var_thres.get_support()]]
const_column

['C', 'D']

In [12]:
df.drop(const_column, axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8