In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%inline matplotlib
import seaborn as sns

UsageError: Line magic function `%inline` not found.

In [51]:
df = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv", usecols=['X0','X1', 'X2'])

In [52]:
df.head()

   X0 X1  X2
0   k  v  at
1   k  t  av
2  az  w   n
3  az  t   n
4  az  v   n

In [53]:
df.shape

(4209, 3)

In [54]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
am     18
aq     18
i      18
u      17
l      16
aw     16
ad     14
k      11
b      11
au     11
as     10
r      10
bc      6
ao      4
c       3
q       2
aa      2
ab      1
ac      1
g       1
Name: X0, dtype: int64

In [55]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44

In [56]:
df['X1'].value_counts().head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [57]:
lst_10 = list(df['X1'].value_counts().head(10).index)

In [58]:
for category in lst_10:
    df[category] = np.where(df['X1'] == category, 1, 0)

In [59]:
df.head()

   X0 X1  X2  aa  s  b  l  v  r  i  a  c  o
0   k  v  at   0  0  0  0  1  0  0  0  0  0
1   k  t  av   0  0  0  0  0  0  0  0  0  0
2  az  w   n   0  0  0  0  0  0  0  0  0  0
3  az  t   n   0  0  0  0  0  0  0  0  0  0
4  az  v   n   0  0  0  0  1  0  0  0  0  0

In [60]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o
0      0  0  0  0  1  0  0  0  0  0
1      0  0  0  0  0  0  0  0  0  0
2      0  0  0  0  0  0  0  0  0  0
3      0  0  0  0  0  0  0  0  0  0
4      0  0  0  0  1  0  0  0  0  0
...   .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0
4205   0  0  0  0  0  0  0  0  0  1
4206   0  0  0  0  1  0  0  0  0  0
4207   0  0  0  0  0  1  0  0  0  0
4208   0  0  0  0  0  1  0  0  0  0

[4209 rows x 10 columns]

In [61]:
lst_10.append('X1')

In [63]:
df[lst_10].head()

   aa  s  b  l  v  r  i  a  c  o X1
0   0  0  0  0  1  0  0  0  0  0  v
1   0  0  0  0  0  0  0  0  0  0  t
2   0  0  0  0  0  0  0  0  0  0  w
3   0  0  0  0  0  0  0  0  0  0  t
4   0  0  0  0  1  0  0  0  0  0  v

### Extra

In [9]:
pd.get_dummies(df).shape

(4209, 71)

In [10]:
df_freq_map = df.X2.value_counts().to_dict()

In [11]:
df_freq_map

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'an': 5,
 'q': 5,
 'al': 5,
 'ah': 4,
 'p': 4,
 'av': 4,
 'au': 3,
 'af': 1,
 'aa': 1,
 'am': 1,
 'j': 1,
 'c': 1,
 'o': 1,
 'ar': 1,
 'l': 1}

In [12]:
%%time
df.X2.head()

CPU times: user 138 µs, sys: 50 µs, total: 188 µs
Wall time: 193 µs

0    at
1    av
2     n
3     n
4     n
Name: X2, dtype: object

In [13]:
df.X2 = df.X2.map(df_freq_map)

In [14]:
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

In [15]:
df.X1 = df.X1.map(df.X1.value_counts().to_dict())

In [16]:
df.head()

    X1   X2
0  408    6
1   31    4
2   52  137
3   31  137
4  408  137