In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv("/home/dheeraj/my_projects/my_project_env/practice/EDA-FeatureEng-FeatureSelection-Prediction/Feature_Engineering/Dataset/titanic_train.csv", usecols = ['Sex'])

In [4]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [9]:
pd.get_dummies(df, drop_first = True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [10]:
df = pd.read_csv("/home/dheeraj/my_projects/my_project_env/practice/EDA-FeatureEng-FeatureSelection-Prediction/Feature_Engineering/Dataset/titanic_train.csv", usecols = ['Embarked'])

In [11]:
df.isnull().sum()

Embarked    2
dtype: int64

In [12]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [14]:
pd.get_dummies(df, drop_first = 1).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1