In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("/home/dheeraj/my_projects/my_project_env/practice/EDA-FeatureEng-FeatureSelection-Prediction/Feature_Engineering/Dataset/titanic_train.csv", usecols = ['Cabin', 'Survived'])

In [3]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [5]:
df.Cabin.fillna('Missing', inplace = True)

In [6]:
df['Cabin'] = df['Cabin'].astype(str).str[0]

In [9]:
prob_df=df.groupby(['Cabin'])['Survived'].mean()

In [11]:
prob_surv = pd.DataFrame(prob_df)

In [13]:
prob_surv.head()

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000

In [16]:
prob_surv['died'] = 1- prob_surv['Survived']

In [17]:
prob_surv.head()

       Survived      died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [18]:
prob_surv['prob_ratio']= prob_surv['Survived']/ prob_surv['died']

In [19]:
prob_surv

       Survived      died  prob_ratio
Cabin
A      0.466667  0.533333    0.875000
B      0.744681  0.255319    2.916667
C      0.593220  0.406780    1.458333
D      0.757576  0.242424    3.125000
E      0.750000  0.250000    3.000000
F      0.615385  0.384615    1.600000
G      0.500000  0.500000    1.000000
M      0.299854  0.700146    0.428274
T      0.000000  1.000000    0.000000

In [21]:
probab_encod = prob_surv['prob_ratio'].to_dict()

In [23]:
df['Cabin_encoded'] = df['Cabin'].map(probab_encod)

In [25]:
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274