- Ordering the label according to the Target
- Replace the probabilty by joint probabilty of being 1 or 0

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("/home/dheeraj/my_projects/my_project_env/practice/EDA-FeatureEng-FeatureSelection-Prediction/Feature_Engineering/Dataset/titanic_train.csv", usecols = ['Cabin', 'Survived'])

In [3]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [5]:
df.Cabin.fillna('Missing', inplace=True)

In [6]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [7]:
df['Cabin'] = df['Cabin'].astype(str).str[0]

In [8]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [9]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [12]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [13]:
df.groupby(['Cabin'])['Survived'].mean().sort_values()

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [14]:
ordinal_labels = df.groupby(['Cabin'])['Survived'].mean().sort_values().index

In [19]:
ordinal_label2 = {k:i for i, k in enumerate(ordinal_labels, 0)}

In [20]:
ordinal_label2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [21]:
df['Cabin_ordinal_labels'] = df['Cabin'].map(ordinal_label2)

In [22]:
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

## Mean Encoding

In [24]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().sort_values().to_dict()

In [26]:
df['Cabin_mean_ordinal'] = df['Cabin'].map(mean_ordinal)

In [27]:
df.head()

   Survived Cabin  Cabin_ordinal_labels  Cabin_mean_ordinal
0         0     M                     1            0.299854
1         1     C                     4            0.593220
2         1     M                     1            0.299854
3         1     C                     4            0.593220
4         0     M                     1            0.299854