In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv')

In [37]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [38]:
x = df.iloc[:,:-1]

In [39]:
y = df.iloc[:,-1]

In [40]:
states = pd.get_dummies(x['State'], drop_first=True)

In [41]:
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [42]:
x = x.drop('State', axis=1)

In [43]:
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [46]:
x = pd.concat([x, states], axis=1)

In [47]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [48]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2 ,random_state = 0)

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
model = LinearRegression()
model.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [51]:
pred = model.predict(x_test)

**r2 = 1 - ssResidual/ssMean

**ssResidual = 1/n * sigma(y-yhat)^2

**ssMean = 1/n * sigma(y-bart)^2


**(here ssMean will alwz be greater than ssResidual)

**r2Score value ranges from [0, 1], And if r2Score value is towards 1 it's a good model

In [58]:
from sklearn.metrics import r2_score

In [59]:
score = r2_score(y_test, pred)

In [60]:
score

0.9569149250703278