In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%inline matplotlib
import seaborn as sns

UsageError: Line magic function `%inline` not found.

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv", usecols=['X1', 'X2'])

In [6]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [7]:
df.shape

(4209, 2)

In [8]:
df['X1'].value_counts()

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
q       3
d       3
ab      3
Name: X1, dtype: int64

In [9]:
pd.get_dummies(df).shape

(4209, 71)

In [10]:
df_freq_map = df.X2.value_counts().to_dict()

In [11]:
df_freq_map

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'an': 5,
 'q': 5,
 'al': 5,
 'ah': 4,
 'p': 4,
 'av': 4,
 'au': 3,
 'af': 1,
 'aa': 1,
 'am': 1,
 'j': 1,
 'c': 1,
 'o': 1,
 'ar': 1,
 'l': 1}

In [12]:
%%time
df.X2.head()

CPU times: user 138 µs, sys: 50 µs, total: 188 µs
Wall time: 193 µs

0    at
1    av
2     n
3     n
4     n
Name: X2, dtype: object

In [13]:
df.X2 = df.X2.map(df_freq_map)

In [14]:
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

In [15]:
df.X1 = df.X1.map(df.X1.value_counts().to_dict())

In [16]:
df.head()

    X1   X2
0  408    6
1   31    4
2   52  137
3   31  137
4  408  137