In [29]:
import pandas as pd
import seaborn as sns
import numpy as np

In [30]:
df = pd.read_csv("/home/dheeraj/my_projects/my_project_env/practice/EDA-FeatureEng-FeatureSelection-Prediction/Feature_Engineering/Dataset/Advance_House_Price.csv")

In [31]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [32]:
df = df[['BsmtQual', 'FireplaceQu', 'GarageType', 'SalePrice']]

In [33]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [34]:
df.isnull().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [35]:
df['BsmtQual_nan']= np.where(df.BsmtQual.isnull(), 1, 0)

In [36]:
df.isnull().sum()

BsmtQual         37
FireplaceQu     690
GarageType       81
SalePrice         0
BsmtQual_nan      0
dtype: int64

In [37]:
df['BsmtQual'].mode()[0]

'TA'

In [38]:
df['BsmtQual'].fillna(df['BsmtQual'].mode()[0], inplace = True)

In [39]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_nan
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [40]:
df.isnull().sum()

BsmtQual          0
FireplaceQu     690
GarageType       81
SalePrice         0
BsmtQual_nan      0
dtype: int64

In [41]:
df['FireplaceQu_nan']= np.where(df.FireplaceQu.isnull(), 1, 0)
df['FireplaceQu'].fillna(df['FireplaceQu'].mode()[0], inplace = True)
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_nan  FireplaceQu_nan
0       Gd          Gd     Attchd     208500             0                1
1       Gd          TA     Attchd     181500             0                0
2       Gd          TA     Attchd     223500             0                0
3       TA          Gd     Detchd     140000             0                0
4       Gd          TA     Attchd     250000             0                0

In [42]:
df.isnull().sum()

BsmtQual            0
FireplaceQu         0
GarageType         81
SalePrice           0
BsmtQual_nan        0
FireplaceQu_nan     0
dtype: int64

## Suppose if we have more frequent categorie, we just replace NaN with a new category

In [50]:
df = pd.read_csv("/home/dheeraj/my_projects/my_project_env/practice/EDA-FeatureEng-FeatureSelection-Prediction/Feature_Engineering/Dataset/Advance_House_Price.csv")

In [51]:
df2 = df[['BsmtQual', 'FireplaceQu', 'GarageType', 'SalePrice']]

In [52]:
df2.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [53]:
def impute_nan(df2, feature):
    df2[feature+'newvar'] = np.where(df2[feature].isnull(), 'Missing', df2[feature])

In [54]:
for feature in ['BsmtQual', 'FireplaceQu', 'GarageType']:
    impute_nan(df2, feature)

/home/dheeraj/my_projects/my_project_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [56]:
df2.head()
# We can drop the original columns

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQualnewvar,FireplaceQunewvar,GarageTypenewvar
0,Gd,NaN,Attchd,208500,Gd,Missing,Attchd
1,Gd,TA,Attchd,181500,Gd,TA,Attchd
2,Gd,TA,Attchd,223500,Gd,TA,Attchd
3,TA,Gd,Detchd,140000,TA,Gd,Detchd
4,Gd,TA,Attchd,250000,Gd,TA,Attchd