In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [1]:
x = ["1", "2", "-7"]
sorted(x)

['-7', '1', '2']

In [2]:
df = pd.read_csv('/home/dheeraj/my_projects/my_project_env/practice/EDA_and_prediction/sku.csv')
df.head()

,SKU,01/08/2019,02/08/2019,03/08/2019,04/08/2019,05/08/2019,06/08/2019,07/08/2019,08/08/2019,09/08/2019,...,22/07/2020,23/07/2020,24/07/2020,25/07/2020,26/07/2020,27/07/2020,28/07/2020,29/07/2020,30/07/2020,31/07/2020
0,2527,1551,1613,1613,1532,1517,1441,1383,1424,1381,...,1929,1948,1929,1987,2027,1926,1926,1849,1904,1828
1,3042,2240,2330,2423,2350,2374,2398,2278,2210,2232,...,7096,7025,6955,6746,6881,6606,6804,6872,6872,7078
2,3086,891,909,936,889,880,906,870,879,844,...,829,829,812,788,788,772,811,803,763,763
3,3155,1628,1628,1563,1532,1563,1563,1532,1593,1513,...,1719,1805,1895,1895,1990,2030,2050,2132,2111,2027
4,3166,369,354,343,340,330,337,350,343,340,...,335,328,325,319,316,319,329,336,349,352

In [110]:
df.iloc[2:3, 1:32]

,01/08/2019,02/08/2019,03/08/2019,04/08/2019,05/08/2019,06/08/2019,07/08/2019,08/08/2019,09/08/2019,10/08/2019,...,22/08/2019,23/08/2019,24/08/2019,25/08/2019,26/08/2019,27/08/2019,28/08/2019,29/08/2019,30/08/2019,31/08/2019
2,891,909,936,889,880,906,870,879,844,852,...,892,901,883,865,865,874,900,927,890,854

In [60]:
aug = df.iloc[0:, 1:32].mean().mean()
aug

2166.671542379522

In [61]:
sep = df.iloc[0:, 32:62].mean().mean()
sep

2335.942105263158

In [63]:
octu = df.iloc[0:, 62:93].mean().mean()
octu

2389.984066866919

In [64]:
nov = df.iloc[0:, 93:123].mean().mean()
nov

2422.9439946018892

In [65]:
dec = df.iloc[0:, 123:154].mean().mean()
dec

2551.4261460101866

In [66]:
jan = df.iloc[0:, 154:185].mean().mean()
jan

2503.6044142614605

In [67]:
feb = df.iloc[0:, 185:214].mean().mean()
feb

2509.208013402206

In [68]:
march = df.iloc[0:, 214:245].mean().mean()
march

2642.623742980279

In [69]:
april= df.iloc[0:, 245:275].mean().mean()
april

2578.066396761133

In [70]:
may= df.iloc[0:, 275:306].mean().mean()
may

2423.3964999347

In [71]:
june= df.iloc[0:, 306:336].mean().mean()
june

2470.1121457489876

In [72]:
july= df.iloc[0:, 336:367].mean().mean()
july

2454.717382786993

In [86]:
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 32:62])
    l.append(df.iloc[index, 62:93])
    l.append(df.iloc[index, 93:123])
    
    l.append(df.iloc[index, 123::32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])

NameError: name 'l' is not defined

In [207]:
month = pd.read_csv('/home/dheeraj/my_projects/my_project_env/practice/EDA_and_prediction/monthly.csv')
month

,2527,3042,3086,3155,3166,8272,9311,13159,13160,14011,...,PPAM05126,PPAM05156,PPAM06156,PPAM07156,PPAM08156,PPAM11156,PSTM01257,PSTM01457,WIM5011B,WIM51234
0,1074.426230,2345.852459,993.098361,1550.467213,377.754098,1130.754098,517.491803,61.655738,55.147541,6.0,...,31.040984,45.163934,18.459016,81.311475,106.844262,2.0,24.163934,10.598361,76.409836,2.0
1,817.893443,2771.688525,1081.721311,2302.844262,392.967213,589.893443,276.213115,68.163934,37.893443,6.0,...,38.131148,51.401639,13.213115,101.106557,132.991803,2.0,24.467213,10.204918,51.721311,2.0
2,1538.655738,4998.631148,800.245902,1908.147541,337.754098,824.590164,287.139344,44.950820,35.540984,6.0,...,12.459016,39.942623,11.663934,107.385246,219.393443,2.0,24.549180,12.500000,28.442623,2.0

In [210]:
# out = [3,3,3,3,100]
# out.append(month.iloc[1])
out = month.iloc[0,:].to_list()

In [211]:
out

[1074.4262295081967,
 2345.852459016393,
 993.0983606557376,
 1550.467213114754,
 377.75409836065575,
 1130.7540983606555,
 517.4918032786885,
 61.65573770491803,
 55.14754098360656,
 6.0,
 14.918032786885245,
 19.84426229508197,
 12.450819672131148,
 49.9344262295082,
 37183.62295081967,
 3391.1721311475408,
 1294.3360655737704,
 5801.934426229508,
 5364.270491803279,
 2039.729508196721,
 763.2049180327867,
 16876.0,
 734.2704918032788,
 5187.22131147541,
 108.74590163934427,
 1711.5901639344265,
 1399.827868852459,
 788.2950819672133,
 3404.467213114754,
 1087.204918032787,
 1516.3688524590164,
 75.22950819672131,
 1801.360655737705,
 4.0,
 9118.524590163934,
 599.7786885245903,
 6249.2131147540995,
 464.29508196721315,
 54.516393442622956,
 302.77868852459017,
 9.0,
 14.073770491803279,
 6.0,
 12.827868852459016,
 8.0,
 22373.754098360656,
 1710.5983606557377,
 28104.14754098361,
 2816.8688524590166,
 3419.975409836065,
 2258.598360655738,
 24039.467213114756,
 2274.040983606557,
 17854.639344262294,
 49.049180327868854,
 6173.434426229508,
 6471.459016393444,
 795.1639344262295,
 1573.8032786885244,
 692.2786885245903,
 3187.377049180328,
 4453.827868852459,
 4175.4098360655735,
 7083.680327868852,
 5242.950819672131,
 3601.344262295082,
 4509.237704918033,
 2155.467213114754,
 1838.016393442623,
 15693.918032786885,
 98.22950819672131,
 2274.688524590164,
 3125.0,
 6228.106557377049,
 113916.87704918033,
 3957.6639344262294,
 13106.565573770493,
 879.0245901639345,
 35908.409836065584,
 9988.008196721312,
 7671.5245901639355,
 16179.67213114754,
 2381.360655737705,
 2179.983606557377,
 3660.516393442623,
 4139.131147540984,
 941.1475409836064,
 2110.22131147541,
 53.39344262295082,
 386.3852459016394,
 1165.1475409836066,
 238.12295081967213,
 299.25409836065575,
 167.64754098360658,
 334.4426229508197,
 152.6885245901639,
 499.4016393442623,
 1016.2131147540983,
 279.4590163934426,
 101.20491803278688,
 224.56557377049182,
 41.065573770491795,
 10.754098360655737,
 2.0,
 560.1803278688525,
 94.80327868852459,
 130.0573770491803,
 9.0,
 4.0,
 3.0,
 118.08196721311475,
 30.79508196721311,
 43.72131147540984,
 11.770491803278688,
 8.0,
 37.122950819672134,
 28.9344262295082,
 70.90983606557377,
 2.0,
 6.0,
 1022.6147540983608,
 348.74590163934425,
 23.631147540983605,
 66.88524590163935,
 62.5,
 60.32786885245902,
 168.4672131147541,
 462.09016393442624,
 60.319672131147534,
 5.0,
 131.9672131147541,
 39.69672131147541,
 1.0,
 2.0,
 19.688524590163933,
 6.0,
 1.0,
 1.0,
 3.0,
 5.0,
 28.827868852459016,
 10.614754098360656,
 2.0,
 10.950819672131148,
 2.0,
 96.59836065573772,
 957.5819672131148,
 3013.032786885246,
 4344.475409836065,
 2379.1311475409834,
 1451.2868852459014,
 1870.1475409836066,
 232.4508196721312,
 73.91803278688525,
 752.155737704918,
 50.57377049180328,
 18.647540983606557,
 2.0,
 21.016393442622952,
 25.098360655737704,
 14.270491803278688,
 12.0327868852459,
 59.286885245901644,
 55.99180327868853,
 75.44262295081967,
 12.073770491803279,
 5.0,
 3.0,
 21.28688524590164,
 32.213114754098356,
 2.0,
 42.467213114754095,
 97.03278688524591,
 2.0,
 141.0245901639344,
 73.48360655737704,
 126.80327868852459,
 252.09836065573768,
 168.8114754098361,
 46.10655737704918,
 13.942622950819672,
 1109.7131147540983,
 9.0,
 117.81147540983606,
 41.860655737704924,
 35.213114754098356,
 18.508196721311478,
 60.81147540983606,
 34.26229508196721,
 64.52459016393442,
 34.59836065573771,
 14.704918032786884,
 14.39344262295082,
 8.0,
 3.0,
 6.0,
 3.0,
 50.49180327868853,
 1055.3524590163934,
 1878.5409836065573,
 1194.9918032786884,
 3172.581967213115,
 1255.1065573770493,
 858.2540983606558,
 11.877049180327868,
 676.0245901639345,
 9.0,
 10.877049180327868,
 8.0,
 12.278688524590164,
 4.0,
 5.0,
 2.0,
 206.80327868852456,
 110.46721311475409,
 196.7131147540984,
 34.59016393442623,
 155.8114754098361,
 196.91803278688525,
 120.3934426229508,
 124.87704918032787,
 62.35245901639344,
 19.9344262295082,
 64.92622950819673,
 26.680327868852462,
 13.721311475409836,
 113.24590163934427,
 1116.204918032787,
 198.51639344262298,
 458.1803278688525,
 1433.983606557377,
 9248.852459016394,
 4972.081967213116,
 860.9590163934427,
 622.9098360655737,
 375.0573770491803,
 21.80327868852459,
 31.040983606557376,
 45.1639344262295,
 18.459016393442624,
 81.31147540983606,
 106.84426229508196,
 2.0,
 24.16393442622951,
 10.598360655737704,
 76.40983606557377,
 2.0]

In [213]:
outliers=[]
def detect_outlier(data_1):
    
    threshold=3
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)
    
    
    for y in data_1:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

In [214]:
outlier_datapoints = detect_outlier(out)
print(outlier_datapoints)

[37183.62295081967, 113916.87704918033, 35908.409836065584]

In [215]:
def getIndexes(dfObj, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    listOfPos.append(columnNames)
    # Iterate over list of columns and fetch the rows indexes where value exists
#     for col in columnNames:
#         rows = list(result[col][result[col] == True].index)
#         for row in rows:
#             listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

In [200]:
# # # out.item()
# for i in range(11):
#     print(i)

In [216]:
for i in outlier_datapoints:
    listOfPositions = getIndexes(month, i)
# print('Index positions of 81 in Dataframe : ')
    for i in range(len(listOfPositions)):
        print('Position ', i, ' (Row index , Column Name) : ', listOfPositions[i])

Position  0  (Row index , Column Name) :  []
Position  0  (Row index , Column Name) :  []
Position  0  (Row index , Column Name) :  []

In [212]:
for l in range(12):
    out1 = month.iloc[l,:].to_list()

    ########################### Finding outlier
    outliers=[]
    def detect_outlier(data_1):
    
        threshold=3
        mean_1 = np.mean(data_1)
        std_1 =np.std(data_1)
    
    
        for y in data_1:
            z_score= (y - mean_1)/std_1 
            if np.abs(z_score) > threshold:
                outliers.append(y)
        return outliers

    outlier_datapoints = detect_outlier(out1)
    print(outlier_datapoints)

    ############################ Finding index

    def getIndexes(dfObj, value):
        listOfPos = list()
        result = dfObj.isin([value])
        seriesObj = result.any()
        columnNames = list(seriesObj[seriesObj == True].index)
        listOfPos.append(columnNames)
        return listOfPos


    for i in outlier_datapoints:
        listOfPositions = getIndexes(month, i)
        for i in range(len(listOfPositions)):
            print(listOfPositions[i])

[37183.62295081967, 113916.87704918033, 35908.409836065584]
[]
[]
[]
[168507.65573770492]
[]
[65525.04918032787, 128256.84426229508, 47874.598360655735]
[]
[]
[]