In [4]:
n1 = 1
n2 = 2
print('Number one is {1}, and number two is {0}'.format(n1, n2))

Number one is 2, and number two is 1

In [5]:
n1 = 1
n2 = 2
print('Number one is', n1, 'and two is ', n2)

Number one is 1 and two is  2

In [14]:
a = 2.3455
b = 30.56789
print('first is {0:.4} and second is {1:.4f}'.format(a,b))

first is 2.345 and second is 30.5679

In [8]:
type(a)

float

In [18]:
for i in range(4,16,3):
    print(i)

4
7
10
13

In [32]:
for i in range(4,-1,-1):
    print(i)

4
3
2
1
0

In [33]:
burgers= ['cheesy','chicken','veg','supreme','double']
for n in range(len(burgers)-1,-1,-1):
   print(n,burgers[n])

4 double
3 supreme
2 veg
1 chicken
0 cheesy