## Print vs return

In [1]:
def prt_name():
    print("hello dheeru")

In [2]:
prt_name()

hello dheeru

In [3]:
temp = prt_name()

hello dheeru

In [4]:
temp
## doesn't print anything

In [5]:
def prt_name():
    return "hello dheeru"

In [6]:
temp = prt_name()

In [7]:
temp

'hello dheeru'

## Positional & Keyword argument

In [14]:
# both are positional argument
def hello(name, age):
    print("My name is {} and age is {}".format(name, age))
hello("dheeraj", 20)

My name is dheeraj and age is 20

In [15]:
# age is keyword argument
def hello(name, age = 20):
    print("My name is {} and age is {}".format(name, age))
hello("dheeraj")

My name is dheeraj and age is 20

### Another way of positional and keyword argument/

In [49]:
# age is keyword argument
def hello(*args, **kwargs):
    print(args)
    print(kwargs)
hello("dheeraj","chaudhary",age= 20, dob=2000)

('dheeraj', 'chaudhary')
{'age': 20, 'dob': 2000}

In [48]:
lst1=['dheeraj', 'chaudhary']
dict1 = {'age': 20, 'dob': 2000}

In [25]:
hello(lst1, dict1)

(['dheeraj', 'chaudhary'], {'age': 20, 'dob': 2000})
{}

In [26]:
hello(*lst1, **dict1)

('dheeraj', 'chaudhary')
{'age': 20, 'dob': 2000}

## return two values

In [34]:
list_num = [1,2,3,4,5,6,7]

In [35]:
def add_EvenOdd(list_num):
    evensum = 0
    oddsum=0
    for each in list_num:
        if(each%2 ==0):
            evensum += each
        else:
            oddsum += each
    return evensum, oddsum

In [36]:
add_EvenOdd(list_num)

(12, 16)

# Lambeda function

In [40]:
add_num = lambda num1, num2: num1 + num2

In [41]:
add_num(10, 20)

30

In [42]:
check_even = lambda num1: num1 %2 ==0

In [44]:
check_even(9)

False

# Map function

In [54]:
def map_evenodd(num):
    if num%2==0:
        return "the number {} is even ".format(num)
    else:
        return "the number {} is odd ".format(num)

In [55]:
map_evenodd(9)

'the number 9 is odd '

In [56]:
list1 = [2,3,4,5,6,7,8,9,0]

In [57]:
list(map(map_evenodd, list1))

['the number 2 is even ',
 'the number 3 is odd ',
 'the number 4 is even ',
 'the number 5 is odd ',
 'the number 6 is even ',
 'the number 7 is odd ',
 'the number 8 is even ',
 'the number 9 is odd ',
 'the number 0 is even ']

# Filter function

In [71]:
def filter_evenodd(num):
    if num%2==0:
        return True
#     else:
#         return "the number {} is odd ".format(num)

In [72]:
list1 = [2,3,4,5,6,7,8,9,0]

In [73]:
list(filter(filter_evenodd, list1))

[2, 4, 6, 8, 0]

In [74]:
list(filter(lambda num: num%2==0, list1))

[2, 4, 6, 8, 0]

# List comprehension

In [87]:
list1 = [1,2,3,4, 8]
newlist = []
def sq_list(list1):
    for each in list1:
        newlist.append(each*each)
    return newlist

In [88]:
sq_list(list1)

[1, 4, 9, 16, 64]

In [89]:
[i*i for i in list1]  # list comprehension

[1, 4, 9, 16, 64]

In [90]:
[i*i for i in list1 if i%2==0]  # list comprehension

[4, 16, 64]